.App {
  background-color: #282c34;
  min-height: calc(100vh - 2em);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.header-text{
  font-size: 2em;
  padding-top: 1em;
  margin-bottom: 1em;
}

.text-input{
  margin-right: 1em;
}